/* Image-Free Layout! */

/* GLOBAL */
body {
	background: #0a0a0a;
	text-align: center;
	font-family: Tahoma, "Lucida Sans", Arial, sans-serif;
	font-size: 11px;
}
#page {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

/* HEADER */
header {
	height: 60px;
	display: block;
}
header a {
	text-decoration: none;
}
header h1 {
	font-size: 28px;
	color: #564488; /* PRIMARY */
	font-family: Ubuntu;
}
header h1 sup {
	font-size: 10px;
	font-family: arial;
	color: #fff;
	padding-left: 3px
}
header h1 span {
	color: #999;
}
header h2 {
	color: #eee;
}
#top-username {
	float: right;
	padding-top: 14px;
	color: #999;
}
#top-username a {
	color: #fff;
	text-decoration: none;
}
#top-username a:hover {
	text-decoration: underline;
}
/* NAVIGATION */
nav,
nav ul,
nav li {
	height: 24px;
	display: block;
}
nav li {
	float: left;
}
nav a {
	display: block;
	padding: 3px 10px;
	height: 17px;
	text-decoration: none;
	border-width: 1px;
	border-bottom-width: 0px;
	border-style: solid;
	border-top-left-radius: 4px;
	border-top-right-radius:4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	text-shadow: #222 0px 1px 1px;

}
nav#main a {
	background: #282828;
    border-color: #444;
	color: #bbb;
	text-shadow: #111 0px 1px 1px;
}
nav#main a:hover {
	background: #333;
}
nav#main .active a {
	background: #564488; /* PRIMARY */
	border-color: #7560b0;
	color: #fff;
	height: 18px;
}
#sub-empty {
	height: 4px;
	background-color: #564488;
	border-color: #7560b0;
	border-width: 1px;
	border-bottom-width: 0px;
	border-style: solid;
}
nav#sub {
	background: #564488; /* PRIMARY */
	border-color: #7560b0;
	border-width: 1px;
	border-bottom-width: 0px;
	border-style: solid;
	height: 30px;
}
nav#sub ul {
	padding-top: 6px;
}
nav#sub a {
	background: #7560b0;
	border-color: #8977bb #8977bb transparent #8977bb;
	color: #fff;
}
nav#sub a:hover {
	background: #8871c3;
}
nav#sub .active a {
	background: #564488;
}
nav ul.left {
	float: left;
}
nav ul.left a {
	margin-left: 6px;
}
nav ul.right {
	float: right;
}
nav ul.right a {
	margin-right: 6px;
}

/* FOOTER */
footer {
	text-align: center;
	padding: 10px;
	background: #fff;
	display: block;
	border-top: 1px solid #eee;
	color: #333;
	margin-bottom: 20px;
}

/* CONTENT */
#content {
	background: #fff;
}
#content article {
	margin: 10px 0 10px 10px;
	width: 690px;
	float: left;
	min-height: 300px;
}
#content aside {
	margin: 10px 0 10px 10px;
	width: 240px;
	float: left;
}

/* TYPOGRAPHY */
.clear {
	clear: both;
}
fieldset {
	padding: 4px;
	border: 1px solid #999;
}
fieldset legend {
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	margin-left: 4px;
	font-weight: bold;
}
#content aside .cluster .input-table {
	margin: 0 auto;
}
article .input-table {
	width: 100%;
}
.input-table textarea {
	width: 100%;
}
.input-table td {
	padding: 2px;
}
.input-table small {
	color: #666;
}
.input-table .label-column {
	font-weight: normal;
	text-align: right;
	color: #333;
	padding-right: 6px;
}
input.button {
	background: #7560b0;
	border-color: #8977bb #6E6097 #6E6097 #8977bb;
	color: #fff;
	border-width: 1px;
	border-style: solid;
	padding: 1px 3px;
	font-size: 11px;
	font-weight: normal;
	cursor: pointer;
}
input.button:hover {
	background: #8871C3;
}
p {
	line-height: 16px;
	margin-bottom: 16px;
}
td p {
	margin-bottom: 0px;
}
a {
	color: #564488;
}
h3 {
	padding: 3px 6px;
	font-weight: bold;
	color: #333;
	border-bottom: 1px solid #ddd;
	margin-bottom: 4px;
}
h3 .right {
	float: right;
	color: #999;
	font-weight: normal;
}
h3 .right a {
	/*text-decoration: none;*/
}
.cluster {
	margin-bottom: 10px;
}
#content article h3 {
	background: #eee;
}
#content aside h3 {
	background: #eef;
}
#content article .private h3 {
	color: #ddd;
	background-color: #222;
}
#content article .private h3 .right {
	color: #eee;
}
#content article .private h3 a {
	color: #fff;
}
.quote_text {
	font-family: "Courier New", Courier, monospace;
	line-height: 16px;
	overflow-x: auto;
	font-size: 12px;
	margin: 0 6px;
}
.quote_text pre {
	/* white-space: pre-line; */
	tab-size: 4;
}
.quote_meta {
	color: #666;
	height: 16px;
	border-top: 1px dashed #eee;
	border-bottom: 1px dashed #eee;
	padding: 3px 6px;
	margin-bottom: 8px;
}
.single-quote:hover .quote_meta {
	color: #000;
}
.quote_meta span.score {
	font-weight: bold;
	color: #564488;
}
.quote_meta .selected {
	color: #000;
	cursor: default;
	font-weight: bold;
	text-decoration: none;
}
.quote_meta .right {
	float: right;
}
.warning {
    border: 1px solid #ffff44;
    background-color: #ffffcc;
    margin: 8px 0;
    padding: 8px;
}
.success {
    border: 1px solid #44ff44;
    background-color: #ccffcc;
    margin: 8px 0;
    padding: 8px;
}
.error {
    border: 1px solid #ff4444;
    background-color: #ffcccc;
    margin: 8px 0;
    padding: 8px;
}
#user_list a {
	text-decoration: none;
	line-height: 18px;
}
#user_list a:hover {
	color: #666;
}
#recent-quotes li {
	margin-bottom: 3px;
}
#recent-quotes li small {
	color: #666;
}
.sidebar-ad {
	text-align: center;
	margin-top: 12px;
}
.pagination {
	font-family: arial;
	font-size: 15px;
	text-align: center;
	padding: 4px 0;
}
.pagination a {
	text-decoration: none;
}

html .fb_share_link {
	padding:2px 0 0 20px;
	height:16px;
	background:url(http://static.ak.facebook.com/images/share/facebook_share_icon.gif?6:26981) no-repeat top left;
}

.ui-autocomplete {
	text-align: left;
}

#tag-list .tag-view {
	float: left;
	width: 170px;
	height: 20px;
	display: block;
}

#tag-list .tag-show {
    float: left;
    background: #7560b0;
	border: 1px solid #8977bb;
    padding: 3px 6px;
    -moz-border-radius: 4px;
    margin-right: 8px;
	color: #fff;
	text-decoration: none;
}
#tag-list .tag-show:hover {
	background: #8871c3;
}
em { font-style:italic; }

h3 a.active {
	font-weight: bold;
}

.delete_link:hover {
	color: #ff6f00;
}

strong {
	font-weight: bold;
}
article ul {
	list-style: circle;
	margin-left: 20px;
	line-height: 15px;
}
#giant-ass-button {
	background-color: #7560b0;
	border-color: #564488;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	padding: 20px 0;
	margin: 20px;
	color: white;
	font-size: 25px;
	border-radius: 8px;
	display: block;
	text-decoration: none;
	box-shadow: 0px 3px 8px rgba(0,0,0,0.5);
	text-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}
#giant-ass-button:hover {
	background-color: #564488;
	border-color: #7560b0;
	box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
	text-shadow: 0px 1px 5px rgba(0,0,0,0.25);
}
